{
  "swagger": "2.0",
  "info": {
    "title": "NASA - Picture of the Day",
    "description": "One of the most popular websites at NASA is the Astronomy Picture of the Day. In fact, this website is one of the most popular websites across all federal agencies. This endpoint structures the APOD imagery and associated metadata so that it can be repurposed for other applications.",
    "version": "1.0"
  },
  "host": "api.nasa.gov",
  "basePath": "/planetary/apod",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "copyright": {
                  "type": "string",
                  "description": "copyright"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "explanation": {
                  "type": "string",
                  "description": "explanation"
                },
                "media_type": {
                  "type": "string",
                  "description": "media_type"
                },
                "service_version": {
                  "type": "string",
                  "description": "service_version"
                },
                "thumbnail_url": {
                  "type": "string",
                  "description": "thumbnail_url"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "hdurl": {
                  "type": "string",
                  "description": "hdurl"
                }
              }
            }
          }
        },
        "summary": "Get NASA - Astronomy Picture of The Day",
        "description": "Get NASA - Astronomy Picture of The Day",
        "operationId": "GetAPOD",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "thumbs",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "description": "Return the URL of video thumbnail. If an APOD is not a video, this parameter is ignored.",
            "x-ms-summary": "Return Video Thumbnail",
            "x-ms-visibility": "internal"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "YYYY-MM-DD (Optional : leave blank to retrieve today's image)",
            "x-ms-summary": "Date",
            "x-ms-visibility": "important",
            "format": ""
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}